<div class="row">
  <div class="span10">
        <ul class="breadcrumb">
              <li>
                <%= link_to "All Employee Information", employees_path %><span class="divider">/</span>
              </li>
              
              <%= link_to "New Employee", new_employee_path, :class => "pull-right label label-info" %>
        </ul>
    <table class="table table-condensed">
      <thead>
        <tr class="well">
          <th class="span2">Complete Name</th>
          <th class="span2">Contact Number</th>
          <th class="span2">Address</th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
        <tr>
      <td><%= link_to employee.name, employee_path(employee) %></td>
      <td><%= employee.contact_number %></td>
       <td><%= employee.address %></td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>